%h1 Assign batch
%td= select_tag 'grade', options_from_collection_for_select(Grade.all.entries, :id, :title), :id => "combgrade", :prompt => "Select grade"
%div{ :id => "studentListForm"}

%br
= link_to '<button type ="button">Cancel</button>'.html_safe, students_path
