%h1 Students list
= form_tag destroy_multiple_students_path, method: :delete  do 
  = render "students_list"
  = submit_tag "delete selected"
  = link_to '<button type ="button">New Student</button>'.html_safe, new_student_path
 